@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root {
    --color_1: #AA9C91;
    --color_2: #F2CEA6;
    --color_3: #dfb333;
    --color_4: #dfd0bd;

    --size_m: 30px;
    --size_l: 60px;
    --radius: 5px;
}

body > * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--color_1);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
 
body::-webkit-scrollbar {
    display: none;
}


#header {
    display: flex;
    justify-content: center;
    border: 0;
}

#header > img {
    width: 100%;
    max-width: 400px;
    padding: var(--size_m);
}

#header > button{
    position: absolute;
    right: 20px;
}

.line {
    margin: 0;
    height: 1px;
    border: 0;
    background-color: var(--color_2);
    opacity: 100%;
    z-index: 0;
}

.flower {
    display: flex;
    justify-content: center;
}

.flower > img {
    width: 60px;
    margin-top: -26px;
    z-index: 1;
}

.title {
    font-family: 'Playfair Display', serif;
    word-wrap: normal;
    text-align: center;
    color: var(--color_2);
}

.landing-image {
    background: url("images/HD-wallpaper-wonderful-sunset-beach-sunset-clouds-hill-sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    border: 1px solid var(--color_2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-image > .title {
    text-align: center;
    position: relative;
    font-size: 65px;
    font-weight: bold;
    padding: 0 var(--size_l);
    color: var(--color_1);
}

.landing-image > h5 {
    margin-top: 200px;
    position: relative;
    top: 20px;
    font-weight:  400;
    text-align: center;
    color: var(--color_3);
   
}

.landing-image > .book-container {
    backdrop-filter: blur(10px);
    margin-top: 150px ;
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 30px 20px;
}

.button-container {
    width: 300px;
    background-color: var(--color_3);
    border: 0px;  
    padding: 4px; 
}

.button-container > a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white !important;
    font-family: 'Playfair Display', serif !important;
    font-weight: 700;
    font-size: x-large !important;
    border-radius: 10px 0px 10px 0px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}


.intro-text{
    color: var(--color_3);
    padding: 50px 15%;
    text-align: center;
    font-size: large;
}


.moma-container{
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
}


.moma-dark-container{
    height: 400px;
    background-color: var(--color_4);
    background-image: url("images/flower2.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 0px 30px;
}

.moma-light-container{
    align-items: flex-end !important;
    position: relative;
    top: -50px;
}


.moma-container > .card {
    border: 0px;
}

.moma-dark-container > .card {
    color: white !important;
    background-color: rgba(0, 0, 0, 0);
}
.moma-container > img {
    height: 80%;
    position: relative;
    top: -10%;
}

.moma-container > .card > .card-body > .card-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: justify-all !important;
}

.moma-container > .card > .card-body > .card-subtitle {
    font-weight: 300;
    text-transform: uppercase;
    font-size: small;
}

.moma-container > .card > .card-body > .card-text {
    
font-weight: 300;
font-size: smaller;
}


.moma-container > .card > .card-body > * {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}

.moma-light-container > .card > .card-body > * {
    text-align: left !important;
}
.moma-light-container > .card > .card-body > .card-title {
    color: var(--color_3) !important;
}

.moma-light-container > .card > .card-body > .card-title2 {
    color: var(--color_1) !important;
}
/* CONTAINER'S CAROUSEL */

.moma-container > .carousel {
    width: 500px;
}


.carousel-item > img{
    width: 100% !important;
    height: 350px;
    
}

.carousel-outer-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-outer-control{
    text-decoration: none;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.carousel-outer-control > svg{
    color: var(--color_3) !important;
    display: inline !important;
}

/* SERVICES */
.container-services{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;

}

.container-services > h1,h2,h3,h4,h5,h6 {
    width: 100%;
}

.container-services > * {
    text-align: center;
}

.container-services > h1 {
color: var(--color_1);
font-family: 'Playfair Display', serif;
font-weight: 700;
margin-top: 0;
margin-bottom: 60px;
}

.container-services > h6 {
    text-transform: uppercase;
    color: var(--color_3);
    font-weight: 200;
    margin-bottom: 0;
}



.service-element > h6 {
    font-family: 'Playfair Display', serif;
    color: var(--color_3);
    font-weight: 700;
    font-size: x-large;
}

.service-element > .circle {
    background-image: url("images/Logomarchio Colore.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: 120px;
    border: 1px solid var(--color_3);
    border-radius: 50%;
}


.end-container{
    margin: 130px 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-container > img {
    height: 350px;
    max-width: 45%;
}

.end-container > .card{
    border: 0px;
}

.end-container > .card > .card-body{
    text-align: right;
}

.end-container > .card > .card-body > .card-title{
    font-family: 'Playfair Display', serif;
}

.end-container > .card > .card-body > .card-subtitle{
    text-transform: uppercase;
    font-weight: 300;
}

.end-container > .card > .card-body > div{
    float: right;
}















































.text-block {
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: auto;
}

.gallery > .frame {
    width: 33%;
}

.gallery > .frame > img {
    width: 100%;
    height: 400px;
    padding: calc(var(--size_m) / 2);
    object-fit: cover;

    transition: 0.4s ease;
}


.gallery > .frame > img:hover {
    
    padding: 0;
}

.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.fullscreen img {
    max-width: 100%;
    max-height: 100%;
}



#footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* INFO CENTERED */

#info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#info > .column {
    position: relative;
    margin: 20px 70px;
    top: -80px;
}

#info > .column > p {
    font-weight: 300;
    width: 150px;
    margin: 0;
}







#footer > img {
    margin: 0 auto 200px;
    
            display: block;
    max-width: 500px;
    
    padding: var(--size_m);
}

.mail {
    display: inline;
    margin-top: -80px;
    margin-bottom: 80px;
    text-align: center;
    color: var(--color_1);
}

